main{
    margin-right: auto;
    width: fit-content;
    font-size: 1.25vw;
    margin-top: 2vw;
    margin-left: auto;
    text-align: center;
    .steps{
        font-size: 1vw;
        margin-top: 0.5vw;
        padding: 0 2vw;
        .step{
            display: flex;
            align-items: center;
            height: fit-content; 
            button{
                margin: 0 0.5vw;
            }
        }
    }
}
