<main class="main">
  <div>Microsoft one drive file picker</div>
  <div class="steps">
    <div class="step">
      Click One:
      <div class="onedrive-buttons">
        <button pButton icon="pi pi-folder-open" label="Open One Drive" [outlined]="true" size="small"
          (click)="openOneDrive()" ></button>
        <button pButton icon="pi pi-users" label="Open Sharepoint" severity="info" [outlined]="true" size="small"
          (click)="openSharepointOneDrive()" ></button>
      </div>
    </div>
  </div>
</main>
<div id="iframe-container"></div>


<div class="card" *ngIf="pickedItems">
  <div class="heading">Picked items</div>
  <p-table [value]="pickedItems"
    [tableStyle]="{'width': '50vw','padding': '0.15vw','border': 'solid 1px black','border-radius': '10px' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80%">Name</th>
        <th style="width: 15%">Size</th>
        <th style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pickedItem>
      <tr>
        <td>{{ pickedItem.name }}</td>
        <td>{{formatBytes(pickedItem.size) }}</td>
        <td><a href="{{pickedItem.webUrl}}" target="_blank"><i class="pi pi-external-link"></i></a></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast />
<router-outlet />
